/* ==========================================================================
   Bootstrap overrides
   ========================================================================== */
.navbar {
	margin: 0;
}

.navbar-default {
	background-image: none;
	border-radius: 0;
	background-repeat: no-repeat;
	background-color: #fff;
	border:none;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	background-color: #A1B6A7;
}

.dropdown-menu {
	border: 1px solid #A1B6A7;
	box-shadow: none;

}

.navbar-default .navbar-nav>li>a {
	color: #6D8F70;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #9DCFA2;
}

.row {
	margin: 0;
}

.jumbotron {
	padding: 0;
	text-align: center;
	background-color: #EDF0EE;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */
.secondary-nav {
	background-color: #A1B6A7;
	font-size: 10px;
}

.secondary-nav li {
	display: inline-block;
}

.secondary-nav li a {
	color: #000;
	padding: 5px;
}

.secondary-nav li a:visited {
	background-color: #fff;
}

.secondary-nav li a:hover {
	background-color: #fff;
}


.secondary-nav .nav {
	float: right;	
}

.logo {
	color: #4D4F4B;
	margin-top: -8px;
}

.nav-header {
	border-bottom: 1px solid #C9CFC4;
}

.news-item-bg {
	background-color: #DBDEDC;
	height: 200px;
}
