* {
	/*border:1px solid red;*/
}
body {
	background-color: #FAFAFA;
	font-family: 'Work Sans', sans-serif;
	overflow-x: hidden; /* Weird case in IE/Edge where there is extra wide space*/
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Bootstrap overrides */
.navbar-default {
	background-image: none;
	border-radius: 0;
	background-repeat: no-repeat;
	border:none;
	background-color: transparent;
	/*border-bottom: 1px solid #FCFCFC;*/
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 15px;
	padding: 10px 15px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #333;
}

.navbar-default .navbar-nav>li:hover {
	background-color: #FCFCFC;
}

.navbar-toggle {
	color: #FCFCFC;
	font-size: 15px;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
	background-color: #FCFCFC;
	color: #333;
}

.col-md-6,
.col-md-12 {
	padding: 0;
}

.navbar-collapse {
	border-top: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* Bootstrap overrides end */
/*
==============================
Main banner
==============================
*/
.header {
	background-image: url('../img/carousel-r-2.jpg');
	background-position: center center;
	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
	display: table;
	/*border-collapse: collapse;*/
}

/* Social links & languages */
.social {
	text-align: right;
	margin: 0 20px 10px 0;
}

ul.social li {
	display: inline-block;
	padding: 5px 9px;
}

ul.social img {
	width: 40px;
	height: 40px;
}


ul.social .lang-li {
	padding: 0;
	vertical-align: top;
	color: #FCFCFC;
}

ul.social .lang-li:hover {
	background-color: #FCFCFC;
}

.lang-li a {
	color: #FCFCFC;
}

.lang-li a:hover {
	color: #333;
	text-decoration: none;
}

.lang-li a:focus {
	color: #FCFCFC;
	text-decoration: none;
}


/* Center menu items when menu shows up */
.menu {
	text-align: center;
}

.tagline {
	display: table-row;
	height: auto;
	text-align: center;
	background: transparent;
}

.tagline p {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}

.blurb p {
	padding: 3.66% 8.66% 0 8.66%;
	margin: 0;
}

/* Carousel */
.carousel-container {
	height: 180px;
}


.carousel-item {
	position: relative;
	width: 100%;
	font-family: 'Tangerine', cursive;
	color: #333;
	height: 180px;
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
	background-color: #FCFCFC;

	/*color: #fff;
	background-image: url('../img/carousel-l.jpg');
	background-position: center center;
	background-repeat: no-repeat;
  	background-size: cover;*/
}

.carousel-content {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}


.carousel-1 {
	bottom: 0;
	z-index: 0;
}

.carousel-2 {
	bottom: 180px;
	z-index: -1;
}

.quote {
	font-size: 36px;
}

.quote-author {
	font-size: 25px;
}

.transparent {
	opacity: 0;
}
/*
==============================
Section previews
==============================
*/

.row {
	margin: 0;
}

.col-left {
	float: right;
}

.col-right {
	float: left;
}

.preview-content,
.preview-content * {
	border-radius: 25px;
}

.previews {
	background-color: #fff;	
}

.preview-content {
	background-color: #FCFCFC;
}

.preview-content-contact  {
	text-align: center;
}

.preview-overlay-1,
.preview-overlay-2,
.preview-overlay-3,
.preview-overlay-4 {
	position: absolute;
	z-index: 1;
	background-position: center center;
	background-repeat: no-repeat;
  	background-size: cover;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.preview-overlay-1 {
	background-image: url('../img/news-item-1.jpg');	
}

.preview-overlay-2 {
	background-image: url('../img/news-item-2.jpg');
}

.preview-overlay-3 {
	background-image: url('../img/services-1.jpg');
}

.preview-overlay-4 {
	background-image: url('../img/courses-1.jpg');
}

.preview-summary {
	position: absolute;
	z-index: 0;
	padding: 15px;
}

.preview-title {
	position: absolute;
	bottom: 0;
	padding: 15px 0 0 15px;
	background-color: #2C6580;
	text-align: left;
	height: 100px;
	font-size: 16px;
	color: #FCFCFC;
	z-index: 2;
}

.contact-container {
	border: 1px solid;
	text-align: center;
}

/*
==============================
Footer
==============================
*/

.footer-container {
	margin-top: 30px;
	padding: 15px;
	background-color: #333;
	color: #FCFCFC;
}

.footer-content a {
	color: #FCFCFC;	
}

.footer-links li {
	display: inline-block;
	padding-right: 10px;
}

.border {
	padding-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #FCFCFC;	
}

.logo {
	margin-left: -5px;
	font-size: 18px;
}

.logo,
.logo:hover, 
.logo:focus {
	color: #3AB1C8;
	text-decoration: none;
}

.logo-text {
	vertical-align: 2px;
}

.footer-top {
	/*padding-bottom: 15px;*/
}

.footer-bottom {

}

.social-footer {
	float: right;
}

ul.social-footer li {
	display: inline-block;
	padding: 5px;
}

ul.social-footer img {
	width: 35px;
	height: 35px;
}

.copyright {
	padding: 20px 0;
	font-size: 11px;
}

/*
	Helper borders
*/
.border-w {
	border: 1px solid white;
}

.border-r {
	border: 1px solid red;
}

.border-o {
	border: 1px solid orange;
}

.border-g {
	border: 1px solid green;
}

.border-b {
	border: 1px solid blue;
}

.border-bl {
	border: 1px solid #000;
}




/* MEDIA QUERIES */
@media screen and (max-width:29.9999em) {
	ul.social .lang-li {
		display: none;
	}

	.logo {
		margin-left: 1px;
	}

	.logo {
		font-size: 15px;
	}

	ul.social-footer img{
		width: 30px;
	}
}



@media (max-width: 767px) {
	.header {
		background-position: 0;
		height: 300px;
	}

	.blurb p {
		font-size: 18px
	}

	.col-left {
		float: none;
	}

	.col-right {
		float: none;
	}

	.preview-title {
		width: 90%;
	}

	.preview-summary {
		width: 90%;
	}

	.preview-content {
		width: 90%;
		padding-bottom: 80%;
		margin: 5.66%;
	}

	.preview-overlay-1,
	.preview-overlay-2,
	.preview-overlay-3,
	.preview-overlay-4 {
		width: 90%;
		height: 100%;
	}

	.navbar-default .navbar-nav>li>a {
		font-size: 18px;
		font-weight: bold;
		padding: 14px 15px;
	}

	.tagline p {
		font-size: 40px;
		line-height: 50px;
	}

	.tagline p>.tagline-first-letter {
		font-size: 60px;
	}
}

@media (min-width: 768px) {
	.quote {
		font-size: 42px;
	}

	.quote-author {
		font-size: 31px;
	}

	.blurb p {
		font-size: 25px
	}

	.header {
		height: 480px;
	}

	.preview-title {
		width: 370px;
		margin-bottom: 2.66%;
	}

	.preview-content {
		width: 370px;
		height: 370px;
		margin: 2.66%;
	}

	.preview-summary {
		width: 370px;
	}

	.preview-overlay-1,
	.preview-overlay-2,
	.preview-overlay-3,
	.preview-overlay-4 {
		width: 370px;
		height: 370px;
	}

	.navbar-default {
		border-bottom: 1px solid #FCFCFC;
	}

	.tagline p {
		font-size: 50px;
	}

	.tagline p>.tagline-first-letter {
		font-size: 70px;
	}

	.navbar-default .navbar-nav>li:hover {
		border-radius: 5px 5px 0 0;
	}

	.footer-content {
		width: 75%;
		margin: 0 auto;
	}
}




/*
@media screen and (max-width:29.9999em)
@media screen and (min-width:30em) and (max-width:59.9999em)
@media screen and (min-width: 60em)
*/